<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="shortcut icon" href="https://www.emfink.net/Presentations/assets/img/favicon.ico">

	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/Presentations/assets/css/style.css"> 

<!-- Include custom icon fonts -->

	<link rel="stylesheet" type="text/css" href="https:www.emfink.net/Presentations/assets/css/academicons.css">

	<link rel="stylesheet" type="text/css" href="https:www.emfink.net/Presentations/assets/css/fontawesome-all.min.css">
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<!-- Adobe Fonts -->
<link rel="stylesheet" href="https://use.typekit.net/viv2jun.css">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap" rel="stylesheet">

</head>